Import necessary libraries

In [33]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.tree import DecisionTreeClassifier

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

Load data

In [11]:
calls = pd.read_excel("./Data/CallsData.xls")
contract = pd.read_csv("./Data/ContractData.csv")

Join data in one dataset

In [12]:
df = pd.merge(calls, contract, on=["Area Code", "Phone"])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   VMail Message   3333 non-null   int64
 1   Day Mins        3333 non-null   float64
 2   Eve Mins        3333 non-null   float64
 3   Night Mins      3333 non-null   float64
 4   Intl Mins       3333 non-null   float64
 5   CustServ Calls  3333 non-null   int64
 6   Day Calls       3333 non-null   int64
 7   Day Charge      3333 non-null   float64
 8   Eve Calls       3333 non-null   int64
 9   Eve Charge      3333 non-null   float64
 10  Night Calls     3333 non-null   int64
 11  Night Charge    3333 non-null   float64
 12  Intl Calls      3333 non-null   int64
 13  Intl Charge     3333 non-null   float64
 14  Area Code       3333 non-null   int64
 15  Phone           3333 non-null   object
 16  Account Length  3333 non-null   int64
 17  Churn           3333 non-null   int64
 18  Int'l Plan      3333 non-null   int64
 19  VMail Plan      3333 non-null   int64
 20  State           3333 non-null   object
dtypes: float64(8), int64(11), object(2)
memory usage: 572.9+ KB

Display the 5 first and 5 last columns

In [14]:
display(df.head())
display(df.tail())

,VMail Message,Day Mins,Eve Mins,Night Mins,Intl Mins,CustServ Calls,Day Calls,Day Charge,Eve Calls,Eve Charge,Night Calls,Night Charge,Intl Calls,Intl Charge,Area Code,Phone,Account Length,Churn,Int'l Plan,VMail Plan,State
0,25,265.1,197.4,244.7,10.0,1,110,45.07,99,16.78,91,11.01,3,2.70,415,382-4657,128,0,0,1,KS
1,26,161.6,195.5,254.4,13.7,1,123,27.47,103,16.62,103,11.45,3,3.70,415,371-7191,107,0,0,1,OH
2,0,243.4,121.2,162.6,12.2,0,114,41.38,110,10.30,104,7.32,5,3.29,415,358-1921,137,0,0,0,NJ
3,0,299.4,61.9,196.9,6.6,2,71,50.90,88,5.26,89,8.86,7,1.78,408,375-9999,84,0,1,0,OH
4,0,166.7,148.3,186.9,10.1,3,113,28.34,122,12.61,121,8.41,3,2.73,415,330-6626,75,0,1,0,OK

,VMail Message,Day Mins,Eve Mins,Night Mins,Intl Mins,CustServ Calls,Day Calls,Day Charge,Eve Calls,Eve Charge,Night Calls,Night Charge,Intl Calls,Intl Charge,Area Code,Phone,Account Length,Churn,Int'l Plan,VMail Plan,State
3328,36,156.2,215.5,279.1,9.9,2,77,26.55,126,18.32,83,12.56,6,2.67,415,414-4276,192,0,0,1,AZ
3329,0,231.1,153.4,191.3,9.6,3,57,39.29,55,13.04,123,8.61,4,2.59,415,370-3271,68,0,0,0,WV
3330,0,180.8,288.8,191.9,14.1,2,109,30.74,58,24.55,91,8.64,6,3.81,510,328-8230,28,0,0,0,RI
3331,0,213.8,159.6,139.2,5.0,2,105,36.35,84,13.57,137,6.26,10,1.35,510,364-6381,184,0,1,0,CT
3332,25,234.4,265.9,241.4,13.7,0,113,39.85,82,22.60,77,10.86,4,3.70,415,400-4344,74,0,0,1,TN

Convert Area Code to categorical

In [15]:
df['Area Code'] = df['Area Code'].astype(object)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   VMail Message   3333 non-null   int64
 1   Day Mins        3333 non-null   float64
 2   Eve Mins        3333 non-null   float64
 3   Night Mins      3333 non-null   float64
 4   Intl Mins       3333 non-null   float64
 5   CustServ Calls  3333 non-null   int64
 6   Day Calls       3333 non-null   int64
 7   Day Charge      3333 non-null   float64
 8   Eve Calls       3333 non-null   int64
 9   Eve Charge      3333 non-null   float64
 10  Night Calls     3333 non-null   int64
 11  Night Charge    3333 non-null   float64
 12  Intl Calls      3333 non-null   int64
 13  Intl Charge     3333 non-null   float64
 14  Area Code       3333 non-null   object
 15  Phone           3333 non-null   object
 16  Account Length  3333 non-null   int64
 17  Churn           3333 non-null   int64
 18  Int'l Plan      3333 non-null   int64
 19  VMail Plan      3333 non-null   int64
 20  State           3333 non-null   object
dtypes: float64(8), int64(10), object(3)
memory usage: 572.9+ KB

Drop Phone variable

In [17]:
df.drop(["Phone"], axis = 1, inplace=True)

Defining outcome

In [18]:
Outcome = ["Churn"]
X = df.drop(Outcome, axis = 1)
y = df[Outcome]

OHE

In [19]:
OHE_X = pd.get_dummies(X, drop_first=True)

c:\Users\Franck\anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

Splitting dataset into training/test set 80%vs20%

In [20]:
X_train, X_test, y_train, y_test = train_test_split(OHE_X, y, test_size=.2, stratify=y, random_state=0)

Using DecisionTreeClassifier

In [21]:
clf = DecisionTreeClassifier(random_state=0)
clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

Predicting from test set

In [27]:
y_pred = clf.predict(X_test)
y_proba = clf.predict_proba(X_test)

Display class predicted

In [29]:
display(y_pred)

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0], dtype=int64)

Display probabilities predicted

In [30]:
display(y_proba)

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

Evaluating performance with accuracy metric

In [24]:
accuracy_score(y_test, y_pred)

0.9370314842578711

Evaluating performance with roc auc metric

In [34]:
roc_auc_score(y_test, y_proba[:,1])

0.8776089708808102

### Bonus

Using Chat GPT, generate a code to print the confusion matrix AND to plot the ROC AUC curve for this model